/* Reset del Navegador */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Documento Base */
html {
   -webkit-text-size-adjust: 100%;
   scroll-behavior: smooth;
}

/* Cuerpo */
body {
   min-height: 100vh;
   line-height: 1.5;
}

/* Listas */
ul,
ol {
   list-style: none;
}

/* Enlaces */
a {
   text-decoration: none;
   color: inherit;
}

/* Imágenes */
img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

/* Formularios */
label,
input,
button,
textarea,
select {
   font: inherit;
   color: inherit;
}

/* Tablas */
table {
   border-collapse: collapse;
   border-spacing: 0;
}