@import url("./base/fonts.css");
@import url('./base/variables.css');


h1 {
   font-family: var(--font-family-title);
   font-weight: 700;
}

p {
   font-family: var(--font-family-general);
   font-weight: 400;
}